/*INDEX1*/

.laboratoria, .trans{
	background-color: yellow;
	padding-left: 5px;
	padding-bottom: 20px;
}

.es{
	background-color: red;
	padding-left: 5px;
	padding-bottom: 20px;
	border: 1px solid black;
}

.trans{
	text-transform: uppercase;
}

/*INDEX2*/

#laboratoria, #trans{
	background-color: yellow;
	padding-left: 5px;
	padding-bottom: 20px;
	width: 200px;
	display: block;
	margin: 5px;
}

#es{
	background-color: red;
	padding-left: 5px;
	padding-bottom: 20px;
	width: 200px;
	display: block;
	margin: 5px;
}

#trans{
	text-transform: uppercase;
}

/*INDEX 3*/

.l, .t{
	background-color: yellow;
	padding: 5px;
	display: inline-block;
	margin: 5px;
}

.e{
	background-color: red;
	padding: 5px;
	display: inline-block;
	margin: 5px;
}

.t{
	text-transform: uppercase;
}